/* This file is released to the public domain and is marked with CC0 1.0 (https://creativecommons.org/publicdomain/zero/1.0/). */

.option {
    cursor: pointer;
    transition: 0.5s;
}

.option span {
    font-weight: bold;
}

.option:hover {
    background: var(--autofill);
}
