/* This file is released to the public domain and is marked with CC0 1.0 (https://creativecommons.org/publicdomain/zero/1.0/). */

.blanklist {
    list-style: none;
}

.note {
    font-style: italic;
}

.latin {
    font-style: italic;
}

footer {
    border-top: thin solid black;
    font-style: italic;
    text-align: right;
}

@media print {
    a {
        color: black;
        text-decoration: none;
    }
}
