/* This file is released to the public domain and is marked with CC0 1.0 (https://creativecommons.org/publicdomain/zero/1.0/). */

@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/charter_regular.woff2') format('woff2');
}

@font-face {
    font-family: Charter;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/charter_italic.woff2') format('woff2');
}

@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/charter_bold.woff2') format('woff2');
}

@font-face {
    font-family: Charter;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/charter_bold_italic.woff2') format('woff2');
}

body, input {
    font-family: Charter, Palatino, Helvetica, serif;
    color: black;
    background-color: white;
}

input {
    padding: 0.5em;
    margin: 0.5em;
    font-size: 100%;
    width: 15em;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    font-variant: small-caps;
}

h2 {
    font-size: 125%;
    font-weight: bold;
}

h3 {
    font-size: 110%;
    font-weight: bold;
}

.blanklist {
    list-style: none;
    padding-left: 3.0em;
    text-indent: -1.8em;
}

.blanklist input {
    width: 1.2em;
    height: 1.2em;
    margin: 0.3em;
}

.note {
    font-style: italic;
}

.warning {
    background-color: orange;
    color: black;
    font-weight: bold;
    width: 75%;
    text-align: center;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
}

.info {
    background-color: #87ceeb;
    color: black;
    font-weight: bold;
    width: 75%;
    text-align: center;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
}

.latin {
    font-style: italic;
}

footer {
    border-top: thin solid black;
    font-style: italic;
    text-align: right;
    margin-top: 3em;
}

.hide {
    display: none;
}

[data-autofill] {
    text-decoration: underline;
}

section {
    border: thin solid black;
    margin: 2em;
    padding: 2em;
}

#register, #summary {
    background-color: #ddd;
}

@media print {
    a {
        color: black;
        text-decoration: none;
    }
    
    footer {
        display: none;
    }

    input[type=text] {
        border: thin solid black;
        width: 95%;
        height: 2em;
    }

    input[type=date] {
        width: 10em;
        height: 2em;
        border: thin solid black;
    }

    #register, #summary {
        border: thick outset black;
    }

    .warning {
        border: thick outset black;
    }
}
