/* This file is released to the public domain and is marked with CC0 1.0 (https://creativecommons.org/publicdomain/zero/1.0/). */

:root {
    --bg-body: #EBE7DB;
    --bg-content: white;
    --bg-input: white;
    --bg-footnote: #C26187;
    --bg-footnote-bright: #DDA7BC;
    --text: black;
    --border: black;
    --warning: #FD3538;
    --info: #CFAE84;
    --autofill: #E3F1DE;
    --result: var(--autofill)
}

@font-face {
    font-family: Source Serif;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/SourceSerif4Variable-Roman.ttf.woff2') format('truetype');
}

@font-face {
    font-family: Source Serif;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/SourceSerif4Variable-Italic.ttf.woff2') format('truetype');
}

@font-face {
    font-family: Source Serif;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/SourceSerif4Variable-Roman.ttf.woff2') format('truetype');
}

@font-face {
    font-family: Source Serif;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/SourceSerif4Variable-Italic.ttf.woff2') format('truetype');
}

body, input {
    font-family: Source Serif, Palatino, serif;
    color: var(--text);
}

body {
    background-color: var(--bg-body);
}

aside {
    background-color: var(--bg-footnote);
    position: absolute;
    right: 20px;
    border: thin solid black;
    margin: 1em;
    padding: 1em;
    font-size: 80%;
}

aside:hover {
    background-color: var(--bg-footnote-bright);
}

input {
    padding: 0.25em;
    margin: 0.25em;
    font-size: 100%;
    width: 15em;
    background-color: var(--bg-input);
}

h1 {
    font-size: 175%;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

h2 {
    font-size: 150%;
    font-variant: small-caps;
    font-weight: bold;
}

h3 {
    font-size: 125%;
    font-weight: bold;
}

.blanklist {
    list-style: none;
    padding-left: 3.0em;
    text-indent: -1.8em;
}

.blanklist input {
    width: 1.2em;
    height: 1.2em;
    margin: 0.3em;
}

.note {
    font-style: italic;
}

.warning {
    background-color: var(--warning);
    color: var(--text);
    font-weight: bold;
    width: 75%;
    text-align: center;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
}

.info {
    background-color: var(--info);
    color: var(--text);
    width: 75%;
    text-align: center;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
}

.latin {
    font-style: italic;
}

footer {
    border-top: thin solid black;
    font-style: italic;
    text-align: right;
    margin-top: 3em;
}

.hide {
    display: none;
}

[data-autofill] {
    background-color: var(--autofill);
}

section {
    border: thin solid black;
    margin: 2em;
    padding: 2em;
    background-color: var(--bg-content);
}

header, footer, main {
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
}

header {
    padding: 6em;
    background-image: url('img/baptism.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

header h1 {
    background-color: rgba(256, 256, 256, 0.9);
    color: black;
    padding: 1em;
}

#register, #summary {
    border: thin solid  black;
    background-color: var(--result);
}

#register div {
    border: thin solid black;
    margin: 1em;
    padding: 1em;
    background-color: var(--bg-content);
}

#register div [data-autofill] {
    background-color: var(--bg-content);
}

a {
    color: var(--text);
    text-decoration: underline;
}

header section {
    border: none;
}

#instructions {
    background-color: var(--info);
}

@media print {
    * {
        background-color: white !important;
        color: black !important;
    }

    a {
        text-decoration: none;
    }
    
    header, footer, aside, #instructions {
        display: none;
    }

    input[type=text] {
        border: thin solid black;
        width: 95%;
        height: 2em;
    }

    input[type=date] {
        width: 10em;
        height: 2em;
        border: thin solid black;
    }

    #register, #summary {
        border: thick double black;
    }

    .warning {
        border: thick dashed black;
    }

    #register {
        break-before: always;
    }

    header, footer, main {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    [data-autofill] {
        text-decoration: underline;
    }
}
