@charset "UTF-8";

/* This file is released to the public domain and is marked with CC0 1.0 (https://creativecommons.org/publicdomain/zero/1.0/). */

#summary {
    border: thin solid black;
    background-color: var(--result);
}

@media print {
    #summary {
        border: thick double black;
    }
}
